/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFEFF1;
    color: #4A4A4A;
    height: 1450px;
}

/* Header Styles */

div.header-container  {
    background-color: #D16A78;
    width: 100%;    
    height: 170px;
}

div.header {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}

.logo{
    width: 40px;
    height: 40px;
    background-image: url('logo.png');
    margin: 5px 0px 0px 10px;
}

.hero-section {
    background-color: #FAD1D7;
    padding:  60px 0px 0px 0px;
    text-align: center;
    height: 600px;
}

.hero-content{
    padding: 0px 0px 300px 0px;
}
.hero-content h2 {
    font-size: 36px;
}
.hero-content p {
    font-size: 22px;
    margin-top: 10px;
}


/* Main Content Styles */

h2.main-header {
    text-align: center;
    font-size: 36px;
    color: #4A4A4A;
    margin-top: 30px;
}

.palettes-container {
    display: flex;
    justify-content: space-around;;
    margin-top: 40px;
    height: 600px;
}

.palette-one {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FADADD;
    border: #fd8e99 2px solid;
    position: relative;
}

.palette-one p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #B03A5B;
}

.palette-two {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C9D6DF;
    border: #337bb1 2px solid;
    position: relative;
}

.palette-two p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #337bb1;
}

.palette-three {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CDEAC0;
    border: #42a714 2px solid;
    position: relative;
}

.palette-three p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #42a714;
}

.palette-four {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFACD;
    border: #d4c32a 2px solid;
    position: relative;
}

.palette-four p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #d4c32a;
}

.palette-five {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D8CDE8;
    border: #a46cf8 2px solid;
    position: relative;
}

.palette-five p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #a46cf8;
}








/* Colors */

.babypink {
    color: #FD8E99;
}
.mistyblue {
    color: #337bb1;
}
.lavender {
    color: #42a714;
}
.lemon {
    color: #d4c32a;
}
.lilac {
    color: #a46cf8;
}